{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\landing.css' %}">
  <link rel="stylesheet" href="{% static '\css\resposship.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="store-name">
          <a href="">
            <h2>YUMMY<img src="{% static 'images\pizza.png' %}" alt=""></h2>
          </a>
        </div>

        <div class="middle-part">
          <nav>
            <a href="landing.html">Home</a>
            <div class="menu"><a href="menu.html">Menu<i class="ri-arrow-down-s-line"></i></a>
              <div class="menu-subdiv">
                <div>
                  <a href="#intro">Burger</a>

                  <a href="#pizza">Pizza</a>
                  <a href="#noodles">Noodle</a>
                </div>
                <div>
                  <a href="#chicken">Chicken</a>
                  <a href="#biryani">Biryani</a>
                  <a href="#fish">Fish</a>
                </div>
              </div>
            </div>
            <div class="menu">
              <a href="#">Pages<i class="ri-arrow-down-s-line"></i></a>
              <div class="menu-subdiv">
                <div>
                  <a href="menu.html">Menu</a>
                  <a href="about.html">About US</a>
                </div>
                <div>
                  <a href="contact.html">Contact US</a>
                  <a href="">Blog</a>
                  
                </div>
                <div>
                  <a href="admin.html">Admin</a>
                  <a href="userorder.html">User Order</a>
                </div>
              </div>
            </div>
            <a href="foodorde.html">Shop</a>
            <a href="about.html">Blog</a>
            <a href="contact.html">ContactUS</a>
          </nav>
        </div>
        <div class="last-part">
          <div class="search">
            <input type="text" placeholder="">
            <a href="#">
              <i class="fas ri-search-line"></i>
            </a>
          </div>
          <a href="#"><i class="ri-shopping-cart-2-line"></i></a>
          <a href="userdash.html"><i class="three-line ri-menu-3-line"></i></a>

        </div>
      </div>
    <div class="contact_us_green">
        <div class="responsive-container-block big-container">
          <div class="responsive-container-block container">
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-7 wk-ipadp-10 line" id="i69b-2">
              <form class="form-box">
                <div class="container-block form-wrapper">
                  <div class="responsive-container-block">
                    <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6" id="i10mt-6">
                      <p class="text-blk input-title">
                        FIRST NAME
                      </p>
                      <input class="input" id="ijowk-6" name="FirstName">
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                      <p class="text-blk input-title">
                        LAST NAME
                      </p>
                      <input class="input" id="indfi-4" name="Last Name">
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                      <p class="text-blk input-title">
                        EMAIL
                      </p>
                      <input class="input" id="ipmgh-6" name="Email">
                    </div>
                    <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                      <p class="text-blk input-title">
                        PHONE NUMBER
                      </p>
                      <input class="input" id="imgis-5" name="PhoneNumber">
                    </div>
                    <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-6">
                      <p class="text-blk input-title">
                        WHAT DO YOU HAVE IN MIND
                      </p>
                      <textarea class="textinput" id="i5vyy-6" placeholder="Please enter query..."></textarea>
                    </div>
                  </div>
                  <div class="btn-wrapper">
                    <button id="submitBtn" class="submit-btn">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-5 wk-ipadp-10" id="ifgi">
              <div class="container-box">
                <div class="text-content">
                  <p class="text-blk contactus-head">
                    Contact us
                  </p>
                  <a class="text-blk contactus-subhead">
                    <img src="{% static 'images/enke_02.png' %}">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>