<footer class="page-footer font-small mdb-color pt-4" style="background-color: #a881db;">

    <div class="container text-center text-md-left">
  
      <div class="row text-center text-md-left mt-3 pb-3">
  
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="color: #fff;">
          <h6 class="text-uppercase mb-4 font-weight-bold">FLOWER DECORATION</h6>
          <p>here you can find any shortcuts this will be very helpful to you</p>
        </div>
  
        <hr class="w-100 clearfix d-md-none">
  
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">Products</h6>
          <p>
            <a href="#!" style="color: #fff;">All decoration</a>
          </p>
          <p>
            <a href="#!" style="color: #fff;">Family function</a>
          </p>
          <p>
            <a href="#!" style="color: #fff;">Car decoration</a>
          </p>
          <p>
            <a href="#!" style="color: #fff;">Temple decoration</a>
          </p>
        </div>
  
        <hr class="w-100 clearfix d-md-none">
  
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="color: #fff;">Useful for u</h6>
          <p>
            <a href="user_panel.php" style="color: #fff;">Your Account</a>
          </p>
  
          <p>
            <a href="#!" style="color: #fff;">Cart</a>
          </p>
          <p>
            <a href="#!" style="color: #fff;">Help</a>
          </p>
        </div>
  
        <hr class="w-100 clearfix d-md-none">
  
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" style="color: #fff;">
          <h6 class="text-uppercase mb-4 font-weight-bold">Quick Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> Rajkot, 360003, India
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i>Flwr@gmail.com
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 91 457 456 45
          </p>
          <p>
            <i class="fas fa-print mr-3"></i> + 91 643 000 17
          </p>
        </div>
  
      </div>
  
      <hr>
  
      <div class="row d-flex align-items-center">
  
  
  
        <div class="col-md-5 col-lg-4 ml-lg-0">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-twitter"><img src="image/12.png" alt="ffff" height="25px" width="25px"></i></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-google-plus-g"><img src="image/insta.png" alt="ffff" height="25px" width="25px"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-linkedin-in"><img src="image/tw.png" alt="ffff" height="25px" width="25px"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1">
              <i class="fab fa-twitter"><img src="image/din.png" alt="ffff" height="25px" width="25px"></i></i>
            </a>
          </li>
        </div>
        <p class="fb">© 2022 Copyright:Flower Decoration</p>
  
      </div>
  
    </div>
  
    </div>
  
  </footer>